/* Colors */



/* Fonts */



/* Sizes */

#block-inac-customers-local-tasks {
	display: none;
}

#block-inac-customers-userlogin {
	border: solid 1px #d0d7de;	
	margin-bottom: 20px !important;
	padding: 10px;
	
	div {

		p {
			text-align: center;
			font-family: "Roboto Condensed", sans-serif;
		}
		
		p:first-child {
			
		}
		
		p:nth-child(2) {
			a {
				border-radius: 0;
				background-color: #164082;
				border: 0;
			}
		}
		
		p:last-child {
			a {
			}
		}		
	}

}
























