{#
/**
 * @file transaction_status.html.twig
 * Default theme implementation to present Transaction Status data.
 *
 * This template is used when viewing Transaction Status pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_transaction_status()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('transaction_status') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
