/* Grid intent */

.show-flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-content-right {
	justify-content: flex-end;
}

.flex-align-center {
	align-items: center;
}

/************************************************************************* Menu layout */

.eauth-responsive-bar {
	display: none;
}

@media (max-width: 992px) {
	
	.eauth-responsive-bar {
		display: block;
	}
	
	.eauth-common-bar {
		display: none;
	}
} 

/* **************************************************** Top bar */

.c-layout-header{
	&.c-layout-header-6 {
		.c-topbar{
			background-color: #eaeaea;
			border-top: 5px solid #fdd817;
		
		
			& > .container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			
			.c-top-menu {
				flex-basis: 50%;
				order: 2;
				float: right;
				
				.c-links {
					width: 100%;
					text-align: right;
					
					.ss-session-button{
						background-color: #333333;
						color: white;
						
						&:hover {
							color: #fdd817;
						}
						
						&:focus {
							color:white;
						}
					}
				}
				
				& > .c-links {
					& > li.last > a:not(.btn),
					& > li > a:not(.btn) {
						color: #333333;
					}
					
					& > li.c-divider:after {
						background-color: #cecece;
					}
				}
				
				.ss-user-data-container {
					margin-top: 10px !important;
					padding: 0 7px 0 0 !important;
					
					& div div {
						margin-left: 15px;
					}
					
					.ss-notifications-topbar {
						button.btn {
							background-color: transparent;
							padding: 0;
						}
						
						span.label {
							border-radius: 50px;
						}
					}
					
					.ss-user-info-topbar {
						div p {
							margin: 0;
						}
						
						div a {
							font-size: 18px;
							color: #164082;
						}
					}
					
					.ss-user-image-topbar {
						height: 40px;
						width: 40px;
						border: solid thin #333333;
					}
				}			
			}
		
			.c-brand {
				flex-basis: 50%;
				
				& > .c-icons > li > a > i {
					color: #333333;
				}
			}
		}
			
		.c-navbar {
			background-color: #164082;
			border-bottom: 5px solid #bd162e;
			
			.search-block-form {
				.c-quick-search {
					span,
					.form-group input::placeholder {
						color: #f1f1f1;
					}
				}
			}
		}
	}
}

/* Main menu and logo Responsive ------------------------------------------------ */


@media (max-width: 992px) {
	.c-layout-header{
		&.c-layout-header-6 {

			.eauth-responsive-bar {	
			
				.c-topbar {
				
					/***********************************************
					**Note: This code must be review, can't remember why the .container where added and why
					it should be so especific **/
					.container {
						.c-brand {
							flex: 0 1 20%;
						}
						.row.c-top-menu {
							flex: 1 0 80%;
						}
					}
					
					.c-brand {
						img {
							max-width: 50%;
						}	
					}
					
					.row.c-top-menu {
						.c-search-toggler {
							border: none;
							background: transparent;
							
							.fa.fa-search {
								color: #333333;
							}					
						}
						
						.c-hor-nav-toggler{
							position: relative;
							display: inline-block;
							background: #333333;
							padding: 5px 8px 4px 8px;
							border: none;
							
							.fa-bars {
								color: white;
							}
							
							&:hover > .c-line {
								background: #fdd817;
							}
						}
						
						.ss-user-data-container {
							padding: 0 !important;
							
							.container {
								padding: 0;
							}
						}
					}
				}
				
				.c-navbar {
					.c-mega-menu.c-mega-menu-dark-mobile {
						& > .navbar-nav > li{
							& > .c-link,
							&:hover > .c-link	{
								color: #b9b1c4;
							}
							&:last-child .c-link {
								border: none;
							}
							
							& > .c-link {
								border-color: #b9b1c4;
							}	
						}
					}
					
					.search-block-form { 
						.c-quick-search {
							.form-control.form-search {
								padding: 15px;
							}
							span {
								top: 2px;
							}
						}
					}						
				}
			}
		}
	}
	
	/* HOT FIX *************************************************/
	 
	.c-layout-header .c-quick-search.collapse.in {
		display: block;
	}	
}

@media (max-width: 991px) {
	.eauth-responsive-bar .c-navbar .c-mega-menu.c-shown {
		position: static;
		background-color: transparent;		
	}
}

/* ************************************************** Mega menu */

.c-layout-header {
	.c-layout-header-4 {
		.c-navbar {
			border-bottom: 5px solid #333333;
			background-color: #164082;
			
			.c-navbar-wrapper,
			.c-mega-menu {
				margin: auto !important;
				
				& > .nav.navbar-nav {
					display: flex;
					flex-direction: row;
					
					.tb-megamenu-item .c-link{
						display: flex;
						flex-direction: column;
						text-align: center;
						color: #ffffff !important;
						
						&:hover {
							color: #333333 !important;
							background-color: #a2beea;
							
							i {
								color: #333333 !important;
							}
						}
						
						i {
							color: #6883ad;
							font-size: 4em;
							padding: 10px;
						}						
					}					
				}
			}
		}
	}
}


/************************************************************************* Footer */

.footerCustomers {
	background-color: #545454;
	border-top: 5px solid #fdd817;
	border-bottom: 10px solid #164082;
	position: relative;
	margin-bottom: 5px;
	padding: 15px 0;
}

.footerCustomers:after {
  content: '';
  position: absolute;
  bottom: -15px;
  height: 5px;
  width: 100%;
  background: #bd162e;
  z-index: -1;
}

.footerCustomers .container .show-flex h3,
.footerCustomers .container .show-flex p {
	color: white;
}

.footerCustomers .container .show-flex h3 {
	font-size: 20px;
}

.footerCustomers .container .show-flex p {
	font-size: 14px;
	margin-bottom: 20px;
}

.footerCustomers .container .show-flex ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.footerCustomers .container .show-flex ul li {
	float: left;
	padding-right: 15px;
}

.footerCustomers .container .show-flex ul li a {
	color: white;
}

.footerCustomers .container .show-flex ul li a:hover {
	color: #fdd817;
}

/* Social Networks */

.footerCustomers .container .show-flex ul.socialNetworks li {
	font-size: 25px;
}

/* Main and Legal Menu */

.footerCustomers .container .show-flex ul.mainMenu li,
.footerCustomers .container .show-flex ul.legalMenu li {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.footerCustomers .container .show-flex ul.legalMenu {
	margin-top: 20px;
}

.footerCustomers .container .show-flex .logoGreyScale {
	width: 90px;
	margin-top: 10px
}

.footerCustomers .container .show-flex .devider {
    height: 2px;
    background-color: white;
    margin: auto;
    margin: 35px 0;
}

.footerCustomers .container .footerThirdCol .show-flex .show-flex {
	justify-content: space-around;
	align-items: center;
}

.footerCustomers .container .footerThirdCol .show-flex .show-flex p {
	display: inline-block;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.footerCustomers .container .footerThirdCol .show-flex .show-flex a {
	background-color: #164082;
	color: white;
	padding: 10px 20px;
	font-weight: 500;
}

.footerCustomers .container .footerThirdCol .show-flex .show-flex a:hover {
	color: #fdd817;
}

#block-eauth-customers-local-tasks {
	display: none;
}

/*************************************************************************** Home */

.ss-home {

	/* News Slides on Content */
	
	.ss-statements-slider {
		margin-bottom: 1em;
		overflow: hidden;
	
		.owl-stage-outer { 
	
			.ss-statements-slider__content {
				position: relative;
				
				.c-body {
					position: absolute;
					top: 0;
					background-color: transparent !important;
					border: 0 !important;
					height: 100%;
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: flex-end;				

					.c-title {
						background-color: rgba(0, 0, 0, 0.7);			
						color: white !important;
						font-size: 20px;
						padding: 10px;
						width: 60%;
						font-family: "Roboto", sans-serif;
						font-weight: 400 !important;	
					}
					
					.c-panel {
						background-color: rgba(0, 0, 0, 0.7);
						margin-bottom: 10px;
						border: 0 !important;
						width: 60%;
						height: 100%;
						font-family: "Roboto", sans-serif;
						font-weight: 300 !important;
						flex: 1 0 0;
						overflow: hidden;
									
						p {
							padding: 5px;
							font-size: 18px;
							color: white !important;
							height: 100%;
							width: 100%;
							text-overflow: ellipsis;
						}
					}
					
					.c-link {
						background-color: rgba(0, 0, 0, 0.7);			
						color: white !important;
						font-size: 18px;
						padding: 15px;
						display: inline-block;

						a {
							font-size: 18px;
							color: white !important;
							font-weight: 500;
						}			
					}		
				}	
			}
		}
		
		.owl-controls {
			margin-top: 0;
			padding: 0 30px;
			
			.owl-dots {
				background-color: #545454;
				color: white;
				height: 47px;
				display: flex;
				justify-content: center;
				align-items: center;
				
				.owl-dot {
					background-color: white;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					
					&.active {
						background-color: #183f7c;
						border: solid 3px white;
						box-sizing: border-box;
					}
				}
			}		
		}
	}
	
	.ss-news-and-updates-slider {
		margin-bottom: 1em;
		overflow: hidden;
		
		.owl-stage-outer {
	
			.ss-news-and-updates-slider__content  {
			
				.c-body {
					height: 120px;
					border: solid 1px #d0d7de;
					margin-botto: 0;
					
					.c-title {
						a {
							color: #333333;
						}
					}
				}
			}
		}
		
		.owl-controls {
			margin-top: 0;
			padding: 0 30px;
			
			.owl-dots {
				color: white;
				height: 47px;
				display: flex;
				justify-content: center;
				align-items: center;
				
				.owl-dot {
					background-color: white;
					border: solid 3px #183f7c;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					
					&.active {
						background-color: #183f7c;
						box-sizing: border-box;
					}
				}
			}		
		}
	}	
	
	.ss-block-user-login {
		border: solid 1px #d0d7de;
		background-color: #f4f8f9;
		padding: 20px;
		margin-bottom: 1em;
		
		> div {
		
			p:first-child {
				font-size: 18px;
				font-weight: 500;
				margin-top: 10px;
				text-align: center;
			}
			
			p:nth-child(2) {
				text-align: center;
				
				a {
					background-color: #164082 !important;
					color: white !important;
					border-radius: 0 !important;
					margin: auto;
					border: 0 !important;
					padding: 10px 20px 10px 20px !important;
				}
			}
			
			p:last-child {
				font-size: 16px;
				font-weight: 500;
				text-align: center;
			}
		}
	}

	.ss-block-featured-services {
		border: solid 1px #d0d7de;
		
		h2 {
			font-size: 18px;
			text-align: center;
			font-weight: 500;
			margin-top: 20px;
		}
		
		.c-line-center {
			background-color: #333333;
			margin: 0 auto 10px auto;
		}
		
		.item-list {
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				
				li {
					border-bottom: solid 1px #d0d7de;
					padding:10px 25px;
					font-size: 18px;
					font-weight: 300;
					color: #333333;
				}
			}
			
			a {
				display: flex;
				flex-direction: column;
				font-size: 16px;
				font-weight: 500;
				
				i {
					font-size: 14px;
				}
			}
		}
		
		& div {
			p {
				font-size: 15px;
				text-align: center;
				font-weight: 500;
				margin: 10px 0;
			}
		}
	}	
}


/******************************************************************** Finish Home */

/************************************************************** Registration Form */

.ss-my-user-registration {
	border: solid 1px #c2cad8;
	padding: 35px;
	
	&__title {
		margin-bottom: 30px;
		
		h1 {
			font-size: 30px;
			text-align: center;
		}
	}
	
	&__registration-information {
		& .form-item-mail {
			& .description {
				display: none;
			}
		}
		
		& .form-item-pass.form-no-label {
			margin-top: 0;
		}			
	}

	&__captcha {
		.g-recaptcha {
			div {
				margin: auto;
			}
		}
	}
	
	&__submit {	
		.js-form-submit {
			margin: auto;
			display: block;
			float: none !important;
			margin-top: 30px;
			font-size: 30px;
			font-weight: 300 !important;
		}	
	}
}

.ss-form-footer {
	border-top: 0;
	
	& p {
		font-size: 20px;
		font-weight: 500;
		text-align: center;
	}
}

/******************************************************* Finish registration Form */

/**************************************************************** User Login Form */

.ss-my-user-login {
	border: solid 1px #c2cad8;
	padding: 35px;
	
	&__title {
		margin-bottom: 30px;
		
		h1 {
			font-size: 30px;
			text-align: center;
		}
	}
	
	& .form-actions {
		text-align: center;
	}
	
	& .js-form-submit {
		margin: auto;
		display: block;
		float: none !important;
		margin-top: 30px;
		font-size: 30px;
		font-weight: 300 !important;
	}	
	.ss-password-recovery {
		p {
			text-align: center;
			a{						
				font-size: 15px;
			}
		}
	}
}
	
/********************************************************* Finish User Login Form */

/********************************************************* Password Recovery Form */

.ss-password-recovery {
	padding: 35px;
	
	&__title {
		margin-bottom: 30px;
		
		h1 {
			font-size: 30px;
			text-align: center;
		}
	}
	
	& .form-actions {
		text-align: center;
	}
	
	& .js-form-submit {
		margin: auto;
		display: block;
		float: none !important;
		margin-top: 30px;
		font-size: 30px;
		font-weight: 300 !important;
	}	
	.ss-password-recovery {
		p {
			text-align: center;
			a{						
				font-size: 15px;
			}
		}
	}
}
	
/*************************************************** Finish Password Recovery Form */


/************************************************************* WebForms Hot Fixes */

.webform-submission-form .form-type-checkbox > label,
.webform-submission-form .js-form-type-checkbox > label {
	display: none;
}

.webform-submission-form .form-type-checkbox,
.webform-submission-form .form-type-radio {
	& .form-no-label,
	& .c-checkbox	{
		margin-top: 0;
	}
}

.webform-preview {
	.webform-element {
		margin: 0;
		padding: 0;
		margin-bottom: 25px;
		border-bottom: solid 1px #ececec;
		
		font-size: 20px;
		font-weight: 500;
		
		label {
			display: block;
			margin: 0;
			margin-bottom: 5px;
		}
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				margin-bottom: 10px;			
				b {
					font-weight: 300;
					font-size: 14px;
					display: block;
				}
			}
		}		
	}
}

/****************************************************************** Announcements */

.ss-announcements {

	.announcement_row {
		margin: 25px 0;
		
		.announcement_left {
			width: 50%;
			float: left; 
			padding: 0 15px;
		}
		
		.announcement_right {
			width: 50%;
			float: right;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
				
			.announcement_title a {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 30px;
				font-weight: 600;
				color: #333333;
				padding: 0 5px 20px 0;
			}
			
			.announcement_body p {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 17px;
				font-weight: 300;
				color: #333333;
			}
		}
		
		.announcement_footer {
			clear: both;
			width: 100%;
			padding: 5px;
			border: solid 1px #eeeeee;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.announcement_field_tags {
				order: 1;
				
				ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: row;
				
					li {
						display: flex;
						
						a {
							margin: 0 2px;
							padding: 2px 5px;
							background-color: #333333;
							color: white;
							font-family: 'Roboto Condensed', sans-serif;
							font-size: 13px;
							font-weight: 300;
							text-transform: uppercase;
						}
					}
				}
			}
			
			.announcement_created {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 13px;
				font-weight: 300;
				text-transform: uppercase;
				display: flex;
				align-items: center;
			}
		}	
	}
	
	&__filters {
		.js-form-type-textfield {
			margin-bottom: 40px;
		}
		
		.js-form-type-select {
		
			label {
				font-family: 'Roboto Condensed', sans-serif;
				color: #333333;
				font-size: 24px;
				position: relative;
				display: block;
				
				&:after {
					content: '';
					width: 21px;
					height: 3px;
					background-color: #333;
					position: absolute;
					left: 0;
					top: 35px;
				}
			}	
			
			.form-control {
				border: 0;
				background-color: transparent;
				display: inline;
				
				div {
					margin-bottom: 2px;
					border-bottom: solid 1px #f2f2f2;
					a{
						font-family: 'Roboto Condensed', sans-serif;
						font-size: 17px;
						font-weight: 300;
						color: #333333;
						letter-spacing: 1px;
						padding: 5px 0;	
						display: block;
						
						&.bef-link-active {
							font-weight: 600;
							position: relative;
							margin-left: 15px;
							
							&::before {
								content: '\f0da';
								width: 20px;
								height: 20px;
								font-family: "FontAwesome";
								position: absolute;
								left: -15px;								
							}
						}
					}
				}
			}
		}	
	}
}

/*********************************************************** Finish Announcements */

/**************************************************************** Procedure Types */

.ss-procedures-guidance{
	&__content {	
		article {
			margin-bottom: 45px;
			
			h2 a span {
				font-size: 22px;
				font-weight: 600;
				margin-bottom: 20px;							
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
				color: #333333;
				display: block;
			}
			
			.field--name-field-description {
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 30px;
				font-family: "Roboto", sans-serif;
			}
			
			.links {
				list-style: none;
				padding: 0;
				border-bottom: solid 1px #d0d7de;			
				li a {
					font-weight: 500;					
					margin-bottom: 30px;
					font-size: 15px;
				}
			}
		}
	}
	
	&__filters {
		.js-form-type-textfield {
			margin-bottom: 40px;
		}
		
		.js-form-type-select {
		
			label {
				font-family: 'Roboto Condensed', sans-serif;
				color: #333333;
				font-size: 24px;
				position: relative;
				display: block;
				
				&:after {
					content: '';
					width: 21px;
					height: 3px;
					background-color: #333;
					position: absolute;
					left: 0;
					top: 35px;
				}
			}	
			
			.form-control {
				border: 0;
				background-color: transparent;
				display: inline;
				
				div {
					margin-bottom: 2px;
					border-bottom: solid 1px #f2f2f2;
					a{
						font-family: 'Roboto Condensed', sans-serif;
						font-size: 17px;
						font-weight: 300;
						color: #333333;
						letter-spacing: 1px;
						padding: 5px 0;	
						display: block;
						
						&.bef-link-active {
							font-weight: 600;
							position: relative;
							margin-left: 15px;
							
							&::before {
								content: '\f0da';
								width: 20px;
								height: 20px;
								font-family: "FontAwesome";
								position: absolute;
								left: -15px;								
							}
						}
					}
				}
			}
		}	
	}
}

/**************************************************************** Procedure Types */

.main-service-type-layout{
	&__content{
		display: flex;
		flex-direction: column;
		font-size: 20px;
		
		.content{
			&__header{
				background-color: #f7f7f7;
			
				h3 {
					font-size: 28px;
					color: #3f444a;
					font-weight: 500;
					margin: 60px 0 30px 0;
					text-transform: uppercase;
				}
			}
			
			&__body{
				margin: 30px 0;
				
				&--description {
					.field--name-field-description .field__item {
						font-size: 20px;
						padding-bottom: 15px;
					}
				}
				
				&--applicant {
					span {
						display: flex;
						flex-direction: row;
					}
					
					.field--name-field-applicant-profiles {
						flex-basis: 50%;
						
						.field__items::before {
							content: "Perfil:";
							font-weight: 500;
							font-size: 20px;
						}
						
						.field__items .field__item::before {
							content: "‌•";	
							font-size: 25px;
							line-height: 20px;
							padding-right: 5px;
						}
					}
					
					.field--name-field-aimedto {
						flex-basis: 50%;
						
						.field__item::before {
							content: "Detalle:";
							font-weight: 500;
							font-size: 20px;
							display: block;
						}
					}
				}
				
				&--service_centers {
					.field--name-field-service-desks .field__items .field__item::before {
						content: "‌•";	
						font-size: 25px;
						line-height: 20px;
						padding-right: 5px;
					}
				}
				
				&--link-to-procedure .field--name-field-online-procedure-url .field__item {
					text-align: center;
				}
								
				&--cost-information {
					.field--name-field-cost-information .field__item p:nth-child(2) a {
						background-color: #5DC09C;
						padding: 10px 30px;
						font-weight: 500;
						color: white;
					}
				}
				
				&--previous-requires {
					.field--name-field-previousproceduretypes .field__item a {
						color: #efa129;
					}
				}
				
				&--related-publications {
					.field--name-field-related-publications .field__item a {
						color: #efa129;
					}
				}
			}
		}
	}
	.field--name-field-online-procedure-url {
		.field__item {
			margin: 40px 40px 20px;
			
			a {
			background-color: #164082;
			color: white;
			font-size: 20px;
			font-weight: 500;
			text-transform: uppercase;
			padding: 20px 70px;
			}
		}
	}
}

/* Prevent labels to show */
.main-service-type-layout{
	&__content{
		.content__body{
			&--description .field--name-field-description .field__label,
			&--applicant .field--name-field-applicant-profiles .field__label,
			&--applicant .field--name-field-aimedto .field__label,
			&--related-publications .field--name-field-related-publications .field__label,
			&--service_centers .field--name-field-service-desks .field__label,
			&--cost-information .field--name-field-cost-information .field__label,
			&--previous-requires .field--name-field-previousproceduretypes .field__label,{
				display: none;
			}
		}			
		.field--name-field-online-procedure-url .field__label {
			display: none;
		}
	}
}

/* Prevent linkable text if not necesary */
.main-service-type-layout .main-service-type-layout__content .content__body--applicant .field--name-field-applicant-profiles .field__items .field__item a,
.main-service-type-layout .main-service-type-layout__content .content__body--service_centers .field--name-field-service-desks .field__items .field__item a {
	pointer-events: none;
	cursor: default;
	color: #333333;
}

/************************************************************ End Procedure Types */

.c-line-center {
	width: 30px;
    height: 3px;
    background-color: #bd162e;
    margin: 0 auto 30px auto;
}

.c-line-left {
	width: 30px;
    height: 3px;
    background-color: #bd162e;
    margin: 0 0 30px 0;
}

.c-line.c-dot {
    height: 1px;
    position: relative;
	background-color: #cacaca;
	margin: 40px;
}

.c-line.c-dot:after {
	background-color: #cacaca;
	left: 50%;
	display: inline-block;
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: -4px;
	margin-left: -5px;
	border-radius: 10px !important;
}

.c-body {
	border: 1px solid #f1f1f1;
    margin-bottom: 30px;
	padding: 40px 20px 20px 20px;
}

.c-body__container{
	border-left: 4px solid #88909a;
	padding: 0 20px 0;
}