<div class="container ss-form ss-my-user-login">
  <div class="row">
	<div class="row ss-my-user-login__title">
		<div class="col-sm-12">
			<h1>{{ "Login"|t }}</h1>
		</div>
	</div>
    <div class="col-md-6 col-md-offset-3">
		{{ rendered }}
    </div>
	<div class="col-md-12 ss-password-recovery">
		<p><a href="/user/password">¿Olvidaste tu contraseña?</a></p>
	</div>
  </div>
</div>
<div class="ss-form ss-form-footer ss-my-user-registration">
	<p>¿No tienes usuario? <a href="./register">Registrate</a></p>
</div>
