<div class="item">
  <div class="c-content-media-2 c-bg-img-center" style="background-image: url({{ url }}); min-height: {{ height }};">
    {% if heart %} 
      <div class="c-panel">
        <div class="c-fav">
          <i class="icon-heart c-font-thin"></i>
          <p class="c-font-thin">{{ heart }}</p>
        </div>
      </div>
    {% endif %}
  </div>
</div>
