{#
/**
 * @file training_record_attendee_exp.html.twig
 * Default theme implementation to present Attendee Experience data.
 *
 * This template is used when viewing Attendee Experience pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_training_record_attendee_exp()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('training_record_attendee_exp') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
